
*{

    padding: 0;
    margin: 0;
    color: rgb(218, 126, 22);
    text-align: center;


}

html,body{

    background-color: rgb(0, 0, 0);
    

}

.main-container{
    text-align: center;
    margin: 1rem;
    border: 10px solid rgb(255, 85, 0);

}
.foto-container{
    margin: 1rem;
    text-align: center;
    background-color: rgba(136, 64, 15, 0.658);
    border: 10px solid rgb(214, 103, 48);
}
.escolaridad-container{
    margin: 3px;
    border: 3px solid rgb(218, 167, 29);
}
.habilidades-container{
    margin: 3px;
    border: 3px solid rgb(218, 167, 29);
}
.hobbies-container{
    margin: 3px;
    border: 3px solid rgb(218, 167, 29);
}


nav, section, footer, article, aside{
    border: 2px solid rgb(138, 84, 24);
    padding: 2rem;
}

aside, article{
    width: 20%;
    display:inline-block;
}